<div class="container">
  <form [formGroup]="loginForm">
    <label>Name:</label>
    <input type="text" placeholder="Name" pattern="[a-zA-Z ]*" formControlName="name" />
    <span style="color:red;" *ngIf="name && name.invalid && name.touched"> name is required</span>

    <label>Email:</label>
    <input type="text" placeholder="Email"  formControlName="email" />
    <span style="color:red" *ngIf="email && email.invalid && email.touched"> email is required</span>

    <label>Password:</label>
    <input type="password" placeholder="Password"   formControlName="password" />
      <span style="color:red" *ngIf="password && password.invalid && password.touched"> password is required</span>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" placeholder="ConfirmPassword"  formControlName="confirmPassword" />
      <span style="color:red" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched"> confirmPassword is required</span>
<br>
    <button class="text-center" 
       type="submit" (click)="submit()">{{buttonValueChange ? 'update' : 'save'}}</button>
  </form>
</div>

<br>

<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Confirm Password</th>
      <th scope="col">Active</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of alldata; let i=index" >
      <th scope="row">{{i+1}}</th>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.password}}</td>
      <td>{{data.confirmPassword}}</td>
      <td>
        <span><button (click)="updateData(data.id)"><i class="ri-pencil-fill"></i></button></span>
      <span>  <button (click)="deleteData(data.id)"><i class="ri-delete-bin-6-fill"></i></button></span>
     
      </td>
    </tr>
  </tbody>
</table>